@forward 'reset';
@forward 'colors';
@forward 'typography';
@forward 'nprogress';
@forward 'toastify';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font: var(--font-regular);
  color: var(--light-color-100);
  background: var(--dark-color-900);
}
