@import '@/app/styles/mixins';

.card {
  @include flex(column, center, normal, 15px);

  width: 380px;
  padding: 24px;

  background: var(--dark-color-500);
  border: 1px solid var(--dark-color-300);
  border-radius: 2px;
}

.form {
  @include flex(column, center, center, 15px);
}

.title {
  //margin-bottom: 14px;
  font: var(--font-h1);
  text-align: center;
}

.iconWrapper {
  @include flex(row, center, center, 60px);

  margin-bottom: 14px;
}

.icon {
  width: 36px;
  height: 36px;
}

.info {
  font: var(--font-small);
}

.link {
  text-decoration: none;
}
