.likeBtn {
  color: var(--light-color-100);

  &:focus-visible {
    outline: none;
  }

  &.disabled {
    color: var(--primary-color-900);
  }
}

.heart {
  width: min-content;
  height: min-content;
  padding: 0.25rem 0 0 0.12rem;
  color: var(--danger-color-500);

  &.disabled {
    color: #740b20;
  }
}
