@import '@/app/styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  & > :nth-child(2) {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: start;

    width: 60%;
    margin-bottom: 0.25rem;
  }
}

.userName {
  @include skeleton-animation;

  width: 60%;
  height: 2rem;
}

.userProfileStats {
  width: 70%;
  height: 3rem;
  font: var(--font-regular-link);

  & > span {
    @include skeleton-animation;

    display: inline-block;
    width: 3rem;
    height: 40%;
  }
}

.about {
  @include skeleton-animation;

  width: 70%;
  height: 3.5rem;
}
