@import '@/app/styles/mixins';
@import '@/app/styles/screens';

.dialog {
  overflow-y: auto;

  @media (width <= $screen-size-mobile) {
       top: 47vh;
    width: 90%;

  }
}

.mobileEmptyPhotoSize {
  @media (width <= $screen-size-mobile) {
    width: 19rem;
    height: 20rem;
  }


}

.photo {
  padding: 0 1.5rem;
}

.overlay {
  @include flex;

  position: absolute;
  z-index: 30;
  inset: 0;

  width: 100%;
  height: 100%;

  opacity: 0.8;
  background-color: var(--dark-color-500);
}

.button {
  background-color: transparent;
}

.isMobile {
  margin-top: 1.5rem;
  padding: 0 $mobile-profile-setting-padding-left-right;
}
