@import 'src/app/styles/mixins';

.root {
  @include flex(column, center, center, 20px);
}

.textWrapper {
  @include flex(column, center, center, 20px);

  width: 320px;
  margin-bottom: 20px;
  text-align: center;
}

.title {
  font: var(--font-h1);
}
