.button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
}
.fullWidth {
  width: 100%;
}
.primary {
  background-color: var(--accent-color-500);
}
.secondary {
  background-color: var(--dark-color-300);
}
.tertiary {
}
.link {
}
