@import 'noMobile';

@media (width <= 40.625rem) {
  .container {
    overflow: hidden auto;
    flex-direction: column;
    max-height: 85vh;
  }

  .fix {
    position: fixed;
    bottom: 0;
    background-color: var(--dark-color-700);

  }

  .mobileBack {
    background-color: var(--dark-color-900);
  }

  .content {
    background-color: var(--dark-color-900);
  }

  .title {
    border-bottom: none;
  }

  .footerButtons {
    width: 100vw;
  }

  .commentContainer {
    width: 80vw;
  }

  .shiftPosition {
    transform: translate(-50%, -50%);
  }
}
