@import 'noMobile';

@media (width <= 40.625rem) {
  .container {
    overflow: hidden auto;
    flex-direction: column;
  }

  .fix {
    position: fixed;
    z-index: 100;
    bottom: 0;
    background-color: var(--dark-color-700);
  }

  .mobileBack {
    background-color: var(--dark-color-900);
  }

  .content {
    background-color: var(--dark-color-900);
  }

  .title {
    margin-left: 1rem;
    border-bottom: none;
  }

  .footerButtons {
    width: 100vw;
  }

  .commentContainer {
    width: 80vw;
    border-top: none;
  }

  .shiftPosition {
    transform: translate(0, 0);
  }

  .publishButton {
    all: unset;

    box-sizing: border-box;
    min-width: 100%;

    color: var(--primary-color-700);

    background-color: var(--dark-color-700);
    border-top: var(--dark-color-100) solid 1px;

    &:hover {
      color: var(--primary-color-100);
    }

    &:active {
      outline: var(--primary-color-700);
    }

    &:focus-visible {
      color: var(--primary-color-700);
      outline: none;
    }
  }

  .commentsField {
    padding: 1.18rem 1rem 0;
  }

  .iconClose {
    top: 12px;
    left: -100%;
  }
}
