.loader {
  position: fixed;
  inset: 0;

  width: 6.25rem;
  height: 6.25rem;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: row;
}

.post {
  --max-picture-size-desktop: 80vh;

  height: 100%;
}

.iconClose {
  cursor: pointer;

  position: absolute;
  top: -2.81rem;
  right: -2.81rem;

  color: var(--light-color-100);

  &:focus-visible {
    outline: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 30rem;
  height: 3.68rem;

  border-bottom: 1px solid var(--dark-color-100);
}

.userLink {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;

  margin: 0.5rem 0 0 1.8rem;
}

.linkAvatar {
  &:focus-visible {
    outline: none;
  }
}

.link {
  padding-bottom: 0.31rem;
  font: var(--font-h3);
  transition: all 0.3s;

  &:hover {
    color: var(--primary-color-100);
  }

  &:active {
    outline: var(--primary-color-700);
  }

  &:focus-visible {
    color: var(--primary-color-700);
    outline: none;
  }
}

.avatar {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;

  &:focus-visible {
    outline: none;
  }
}

.commentsField::-webkit-scrollbar {
  width: 1px;
}

.commentsField::-webkit-scrollbar-track {
  background-color: var(--dark-color-900);
}

.commentsField::-webkit-scrollbar-thumb {
  background-color: var(--light-color-100);
}

.commentsField::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color-700);
}

.commentsField {
  scrollbar-color: var(--dark-color-100);

  overflow: auto;
  align-self: center;

  width: 30.06rem;
  height: 21rem;
  padding: 1.18rem 0 0 1.8rem;
}

.description {
  display: flex;
  flex-direction: column;
}

.descriptionItems {
  display: flex;
  flex-direction: row;
  max-height: 4.5rem;
}

.descriptionAvatar {
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 0.75rem;
  padding-top: 0.31rem;

  &:focus-visible {
    outline: none;
  }
}

.descriptionUserName {
  max-width: min-content;
  max-height: min-content;
  margin-right: 0.31rem;

  font-weight: bold;

  transition: all 0.3s;

  &:hover {
    color: var(--primary-color-100);
  }

  &:active {
    outline: var(--primary-color-700);
  }

  &:focus-visible {
    color: var(--primary-color-700);
    outline: none;
  }
}

.descriptionContent {
  scrollbar-width: none;

  overflow: auto;

  width: 21.56rem;

  word-wrap: break-word;
  white-space: normal;

  .scrollable::-webkit-scrollbar {
    display: none;
  }
}

.descriptionDate {
  margin: 0.31rem 0 0.93rem 2.9rem;
  color: #757575ff;
}

.button {
  gap: 0.75rem;

  margin-left: 0.75rem;

  font: var(--font-regular-small);
  color: var(--light-color-100);
  text-align: center;
}

.footer {
  border-top: 1px solid var(--dark-color-100);
}

.footerButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0.75rem 0 1.18rem;
  padding-right: 1.5rem;
}

.leftSideButtons {
  display: flex;
  gap: 1.5rem;
  padding-left: 1.87rem;
}

.footerButton {
  color: var(--light-color-100);

  &:focus-visible {
    outline: none;
  }
}

.heart {
  width: min-content;
  height: min-content;
  padding: 0.25rem 0 0 0.12rem;
  color: var(--danger-color-500);
}

.favourite {
  width: min-content;
  height: min-content;
  padding-right: 0.31rem;
  color: var(--light-color-100);
}

.postLikes {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  height: 1.5rem;
}

.like {
  font-weight: var(--fw-700);
}

.date {
  padding-left: 1.87rem;
  font: var(--font-regular-small);
  color: #757575ff;
}

.commentContainer {
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--dark-color-100);
}

.label {
  position: absolute;
  padding: 1.12rem 0 0 1.87rem;
  font: var(--font-regular-small);
}

.commentTextArea {
  resize: none;
  scrollbar-width: none;

  overflow: auto;

  width: 24.67rem;
  height: 3.68rem;
  padding-left: 0.75rem;

  background-color: transparent;

  &::-webkit-scrollbar {
    display: none;
  }

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
}

.publishButton {
  width: min-content;
  height: min-content;
  margin: 1.25rem 1.62rem 0 0;

  &:focus {
    outline: none;
  }
}
