.link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-left: 3.75rem;
  

  &:hover {
    color: var(--primary-color-100);
  }

  &:active {
    color: var(--primary-color-500);
  }
}

.border_in {
  width: 13.75rem;
  border: 1px solid var(--dark-color-300);
}

.space {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.space_top_bottom {
  margin-top: 3.75rem;
  margin-bottom: 11.25rem;
}

.space_bottom {
  margin-bottom: 6.875rem;
}

.space_top {
  margin-top: 4.5rem;
}
