/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 1rem 2rem;

  border-bottom: 1px solid var(--dark-color-100);
}

.backArrow {
  color: var(----light-color-100);
  transition: color 300ms ease-in;

  &:focus-visible {
    outline: 1px solid var(--primary-color-500);
  }

  &:hover,
  &:focus-visible {
    color: var(--primary-color-100);
  }

  &:active {
    color: var(--primary-color-700);
  }
}

/* ====== */

/* Layout */
.post {
  width: 30.125rem;
  height: 100%;

  & > img {
    width: 100%;
    object-fit: cover;
    image-rendering: crisp-edges;
  }
}

/* ====== */
