@import '@/app/styles/mixins';

.card {
  @include flex(column, center, center);

  max-width: 378px;
  min-height: 408px;
  padding: 23px 24px 12px;
}

.title {
  margin-bottom: 37px;
  font-size: var(--fs-xl);
  font-weight: var(--fw-700);
  line-height: var(--lh-l);
}

.input {
  input {
    height: 36px;
  }

  button {
    top: 6px;
  }
}

.passwordInput {
  margin-bottom: 24px;
}

.passwordConfirmation {
  input {
    margin-bottom: -2px;
  }

  span {
    position: static;
  }
}

.text {
  margin-top: 7px;
  margin-bottom: 41px;

  font-size: var(--fs-s);
  font-weight: var(--fw-400);
  line-height: var(--lh-m);
  color: var(--light-color-900);
}

.button {
  height: 60px;
  text-align: center;
}
