@import '../../../../app/styles/screens';

.head {
  position: fixed;
  z-index: 1000;
  background-color: var(--dark-color-900);
}

.page {
  display: flex;
}

.main {
  width: 100%;
  min-height: 80vh;
  margin-top: 60px;
}

@media (width > $screen-size-mobile) {
  .main {
    margin-left: 230px;
  }
}

.fixedSidebar {
  position: fixed;
  margin-top: 60px;
}

@media (width <= $screen-size-mobile) {
  .fixedSidebar {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;

    background-color: var(--dark-color-900);
  }
}
