.profileWrapper {
  display: flex;
  justify-content: center;
  max-width: 1280px;
}

.sidebar {
  width: 220px;
  max-width: 220px;
}

.scrollingWrapper {
  display: flex;
  flex-direction: column;
  max-width: 972px;
  margin-left: 24px;
}

.personalData {
  display: flex;
  margin-bottom: 48px;
}

.personalInformation {
  display: flex;
  flex-direction: column;
  max-width: 730px;
  margin-left: 38px;
}

.personalPhoto {
  width: 204px;
  height: 204px;
}

.personalName {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.personalUserName {
  font: var(--font-h1);
}

.buttonPublications {
  margin-bottom: 23px;
}

.followingBtn {
  margin-right: 100px;
}

.followersBtn {
  margin-right: 88px;
}

.friendsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
