@import '../../../app/styles/screens';

.userWrapper {
  position: relative;
  width: 100%;
  padding: 2.25rem 3.75rem 3rem 1.5rem;
}

.userData {
  display: flex;
}

.userInformation {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 38px;
}

.userPhoto {
  width: 204px;
  height: 204px;
}

.userName {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.userNameTitle {
  font: var(--font-h1);
}

.buttonPublications {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 24px;
}

.userLinks {
  font: var(--font-regular-link);

  & span {
    font-weight: 700;
  }
}

.aboutMeText {
  min-width: 100%;
  word-break: break-word;
}

@media (width <= $screen-size-mobile) {
  .userPhoto {
    width: 4.68rem;
    height: 4.68rem;
  }

  .buttonPublications {
    gap: 10%;
    margin: 0;
  }

  .userLinks {
    font: var(--font-small-link);
  }

  .userInformation {
    justify-content: center;
    margin-left: 7%;
  }

  .userWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 2.25rem 1.5rem 0;
  }

  .userName {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font: var(--font-regular-small);
  }
}

.profileActions {
  display: flex;
  gap: 0.75rem;
}
