@import '@/app/styles/mixins';

.formWrapper {
  @include flex(column, center, start, 1.5rem);

  margin-right: 3.75rem;
  margin-top: 1.87rem;
  margin-left: 1.5rem;
}

.labelSkeleton {
  @include skeleton-animation;

  width: 10.43rem;
  height: 1rem;
  margin-bottom: -0.3rem;
  border-radius: 4px;
}

.fieldSkeleton {
  @include skeleton-animation;

  width: 100%;
  height: 5.25rem;
  border-radius: 4px;
}

.buttonSkeleton {
  @include skeleton-animation;

  width: 15rem;
  height: 2.5rem;
  margin-bottom: 0.2rem;
  border-radius: 2px;
}
