.followBtn {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-user-select: none;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -ms-user-select: none;
  user-select: none;
}
