.logOutContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentText {
  max-width: 20.47vw;
  margin: 1.875rem 1.5rem 0;
  font: var(--font-regular);
  text-align: start;
}

.buttonTrigger {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: start;

  font: var(--font-medium);
  font-weight: var(--fw-500);
  line-height: var(--lh-m);
  color: var(--light-color-100);

  transition: 0.3s;

  &:disabled {
    color: var(--light-color-900);
  }
}

.contentButtons {
  display: flex;
  gap: 1.5rem;
  justify-content: end;

  margin: 1.875rem 0 2.25rem;
  padding-right: 1.5rem;
}

.buttonWidth {
  width: 6rem;
}
