@import '@/app/styles/mixins';

.card {
  @include flex(column, center, normal, 15px);

  max-width: 380px;
  padding: 24px;
}

.form {
  @include flex(column, center, center, 18px);
}

.title {
  font: var(--font-h1);
  text-align: center;
}

.iconWrapper {
  @include flex(row, center, center, 60px);

  margin-bottom: 14px;
}

.icon {
  width: 36px;
  height: 36px;
}

.infoWrapper {
  position: relative;

  display: flex;
  justify-content: center;

  width: 100%;

  transition: 0.3s;
}

.infoWrapperWithError {
  margin-bottom: 24px;
}

.info {
  font: var(--font-small);
}

.link {
  font-weight: var(--fw-600);
  text-decoration: none;
}

.checkboxError {
  position: absolute;

  /* bottom: -28px; */
  bottom: -36px;
  left: 0;

  font-size: 14px;
  color: var(--danger-color-500);
}

.hasAccount {
  text-align: center;
}
