.root {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 1rem 2rem;

  border-bottom: 1px solid var(--dark-color-100);
}

.newPost {
  display: flex;
  width: 100%;
}

.postImg {
  width: 100%;
}

.info {
  width: 100%;
  padding: 2rem;
}

.userData {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}
