.wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 3.75rem;
  padding: 1.87rem 0 0 1.5rem;
}

.radioGroup {
  width: max-content;
  padding-bottom: 0.75rem;

  &:last-child {
    padding-bottom: 0;
  }
}

.paymentWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.paymentButton {
  width: 6rem;
  height: 4rem;
  padding: 0;

  background-color: var(--dark-color-500);
  border-color: var(--dark-color-300);
  border-radius: 0.5rem;

  &:hover {
    background-color: var(--dark-color-100);
    border-color: var(--dark-color-100);
  }

  &:active {
    background-color: var(--light-color-900);
    border-color: var(--light-color-900);
  }

  &:disabled {
    color: var(--light-color-900);
    background-color: var(--dark-color-500);
  }

  &:focus-visible {
    outline: 2px solid var(--primary-color-300);
  }
}

.paymentButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18%;
}

.error {
  font: var(--font-regular-small);
  color: var(--danger-color-500);
}

@media (width <= 40.625rem) {
  .paymentButtonWrapper {
    width: 100%;
  }

  .paymentWrapper {
    justify-content: center;
  }

   .wrapper{
    margin-right: 0;
    padding: 1.87rem 1rem 5rem;
  }
}
