.list {
  overflow: hidden auto;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: 200px;
}

.list::-webkit-scrollbar {
  width: 1px;
}

.list::-webkit-scrollbar-track {
  background-color: var(--dark-color-900);
}

.list::-webkit-scrollbar-thumb {
  background-color: var(--light-color-100);
}

.list::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color-700);
}

.user {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.6rem 0.4rem;
}

.followBtn {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-user-select: none;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -ms-user-select: none;
  user-select: none;
}

.smallLoader {
  margin: 0 auto;
  padding: 0.6rem 0.4rem;

  & > div {
    width: 30px;
    height: 30px;
  }
}
