.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 492px;
  height: 564px;
}

.header {
  //position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 1rem 2rem;

  border-bottom: 1px solid var(--dark-color-100);
}
