.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 492px;
  height: 564px;
}

.buttonWrapper {
  position: absolute;
  display: flex;
}

.header {
  //position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 1rem 2rem;

  border-bottom: 1px solid var(--dark-color-100);
}

.cropperWrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 100%;
  height: 100%;
}
