@keyframes slide-in-left {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.container {
  max-width: min-content;
  padding: 15px;
}

.postsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
  margin-bottom: 2rem;
}

.item {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--pictureSize);
  height: var(--pictureSize);

  border-radius: 2px;

  transition: transform 0.3s ease-in-out;
}

.tape {
  display: flex;
  flex-direction: column;
  gap: 12px;
  animation: slide-in-left 0.1s;
}

.tapeItem {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20.25rem;
  height: 20.25rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: crisp-edges;
}
