@keyframes slide-down {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.line {
  width: 24px;
  margin-right: 5px;
  border-top: 1px solid #757575ff;

  &:hover {
    border-color: var(--primary-color-100);
  }

  &:active {
    border-color: var(--primary-color-700);
  }

  &:focus-visible {
    border-color: var(--primary-color-700);
    outline: none;
  }
}

.answersHide {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: min-content;
  margin-top: -10px;
  margin-bottom: 15px;
  margin-left: 48px;

  color: #757575ff;
  white-space: nowrap;

  &:focus-visible {
    outline: none;
  }
}

.answerWrapper {
  display: flex;
  flex-direction: column;

  width: 33rem;
  margin-left: 2.63rem;

  animation: slide-down 0.1s ease-out forwards;
}

.answersContainer {
  display: flex;
  flex-direction: column;
}

.answerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.answerItems {
  display: flex;
  flex-direction: row;
}

.avatars {
  display: flex;
  flex-direction: column;
  margin-right: 0.75rem;
  padding-top: 0.31rem;
}

.photo {
  width: 2.25rem;
  height: 2.25rem;
}

.userName {
  width: min-content;
  height: min-content;
  margin-right: 0.31rem;

  font-weight: bold;

  transition: all 0.3s;

  &:hover {
    color: var(--primary-color-100);
  }

  &:active {
    outline: var(--primary-color-700);
  }

  &:focus-visible {
    color: var(--primary-color-700);
    outline: none;
  }
}

.answerContent {
  scrollbar-width: none;

  overflow: auto;

  width: 22.4rem;
  max-height: 4.5rem;

  word-wrap: break-word;
  white-space: normal;

  .scrollable::-webkit-scrollbar {
    display: none;
  }
}

.hearts {
  display: flex;
  flex-direction: column;
  margin-left: 5.7rem;
  padding-top: 0.43rem;
}

.heartButton {
  color: var(--light-color-100);

  &:focus-visible {
    outline: none;
  }
}

.heart {
  width: min-content;
  height: min-content;
  padding: 0.25rem 0 0 0.12rem;
  color: var(--danger-color-500);
}

.answerFooter {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-self: start;

  margin: 0.31rem 0 0.93rem 3.2rem;

  color: var(--light-color-900);
}

.like {
  margin-right: -0.56rem;
  font-weight: bold;
}

.button {
  color: var(--light-color-900);

  &:focus-visible {
    outline: none;
  }
}
