@use '@/app/styles/mixins' as mixins;

.triggerBtn {
  @include mixins.flex(column, flex-start, flex-start);

  font: var(--font-regular-link);
  color: var(--light-color);

  > span {
    font-weight: 700;
  }
}
