@import '@/app/styles/mixins';

.root {
  @include flex(column, center, center, 20px);
}

.textWrapper {
  @include flex(column, center, center, 20px);

  width: 320px;
  margin-bottom: 20px;
  text-align: center;

  & :nth-child(1) {
    font: var(--font-h1);
  }

  & :nth-child(2) {
    text-indent: 0.32rem;
  }
}

.modalContent {
  @include flex(column, center, center, 1rem);

  max-width: 380px;
  padding: 1rem 1.5rem;
}

.button {
  align-self: flex-end;
  width: 6rem;
}
