.publicPostWrapper {
  scrollbar-width: none;

  //text-overflow: ellipsis;
  overflow: auto;
  display: flex;
  flex-direction: column;

  max-width: 234px;
  height: 391px;
  max-height: 415px;
}

.carouselWrapper {
  --slide-height-desktop: 15rem;

  width: 234px;
  margin: 0;
}

.carouselContent {
  padding: 8px;
}

.buttonWrapperCarousel {
  width: 1.5rem;
  height: 1.5rem;
}

.buttonIconCarousel {
  width: 14px;
  height: 14px;
}
