.publicPostWrapper {
  scrollbar-width: none;

  //text-overflow: ellipsis;
  overflow: auto;
  display: flex;
  flex-direction: column;

  max-width: 234px;
  max-height: 415px;
}

.publicPost {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  font-size: 14px;
  line-height: 24px;
  text-overflow: ellipsis;
  word-break: break-word;
  word-wrap: break-word;
  white-space: normal;

  -webkit-box-lines: unset;

  -webkit-line-clamp: 3;
}

.textExpanded {
  //height: auto;

  //max-height: max-content;

  -webkit-line-clamp: unset;
}
