@keyframes slide-in-left {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.container {
  padding: 10px;
}

.postsList {
  display: grid;
  grid-auto-rows: 6.75rem;
  grid-template-columns: repeat(3, 6.75rem);
  gap: 3px;

  max-width: min-content;
}

.item {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 6.75rem;
  height: 6.75rem;

  transition: transform 0.3s ease-in-out;
}

.tape {
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: slide-in-left 0.1s;
}

.tapeItem {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20.25rem;
  height: 20.25rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: crisp-edges;
}
