@use '@/app/styles/mixins' as mixins;

.wrapper {
  --cropping-area-width: 492px;
  --cropping-area-height: 564px;

  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 1rem 2rem;

  border-bottom: 1px solid var(--dark-color-100);
}

.carouselContainer {
  position: relative;
  width: var(--cropping-area-width);
  height: var(--cropping-area-height);
}

.carousel {
  width: 100%;
  height: 100%;
}

.imageCropContainer {
  width: var(--cropping-area-width);
  height: var(--cropping-area-height);
}

.dots {
  position: absolute;
  right: 0;
  bottom: 4%;
  left: 0;

  background-color: transparent;
}

.navigationNext {
  right: 0.5rem;
}

.navigationPrev {
  left: 0.5rem;
}

.navigationNext,
.navigationPrev {
  width: 2.25rem;
  height: 2.25rem;
  background-color: transparent;

  &::before {
    content: '';

    position: absolute;
    z-index: 3;
    inset: 0;

    opacity: 0.3;
    background-color: var(--dark-color-300);

    transition: opacity 300ms ease-in;
  }

  & > svg {
    width: 50%;
    height: 50%;
  }

  :-webkit-any(&:hover, &:focus-visible)::before {
    opacity: 0.8;
  }

  :is(&:hover, &:focus-visible)::before {
    opacity: 0.8;
  }

  @media (width <= 768px) {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.buttonContainer {
  position: absolute;
  z-index: 2;
  right: 0.625rem;
  bottom: 0.2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btnThumb {
  @include mixins.flex(row, center, center);

  position: relative;
  padding: 6px;
  color: var(--light-color-100);
  transition: all 0.3s;

  :hover,
  :focus-visible {
    color: var(--primary-color-100);
  }
}

.defineHeight {
  --carousel-height: 7.5rem;
}

.thumbsContainer {
  transform: translateY(0);

  display: flex;

  min-width: 5rem;
  max-width: 25rem;
  height: var(--carousel-height);
  padding: 0.8rem;

  opacity: 1;
  background-color: hsl(0deg 0% 9% / 80%);
  border-radius: 4px;

  transition:
    opacity 0.18s linear 0.1s,
    transform 0.09s ease-out 0.1s;
}

.hideThumbs {
  transform: translateY(8%);
  opacity: 0;
}

.btnAddContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 36px;
  height: 100%;
  margin-left: 12px;

  background-color: transparent;
}

.btnAdd_active {
  color: var(--primary-color-500);
}
