.innerContainer {
  display: flex;
  align-items: center;
}

.buttonWrapper {
  cursor: pointer;
  all: unset;

  //display: flex;
  //align-items: center;
  //justify-content: center;
  border-radius: 50%;

  //&:hover:not(.disabled),
  //&:hover:not(.disabled) {
  //  box-shadow: 0 0 0 9px var(--dark-color-300);
  //  background-color: var(--dark-color-300);
  //}
  &:hover {
    box-shadow: 0 0 0 9px var(--dark-color-300);
    background-color: var(--dark-color-300);
  }

  &:active {
    box-shadow: 0 0 0 9px var(--dark-color-100);
    background-color: var(--dark-color-100);
  }

  //&:focus-within {
  //  box-shadow: 0 0 0 9px var(--dark-color-500);
  //  background-color: var(--dark-color-500);
  //}

  //&.left {
  //  margin-left: -9px;
  //}

  //&:active {
  //  outline: 9px solid var(--dark-color-100);
  //}
}

.root {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  //background-color: transparent;
  border: 2px solid var(--light-color-100);
  border-radius: 2px;

  //box-shadow: 0 2px 10px var(--color-dark-700);
  //
  //&:focus {
  //  outline: none;
  //}
  //
  //&:disabled {
  //  cursor: initial;
  //  //border-color: var(--color-dark-100);
  //}

  //&:hover {
  //  outline: 9px solid var(--dark-color-300);
  //  //border: 18px solid var(--dark-color-100);
  //  //border-radius: 50%;
  //}
  //&:active {
  //  outline: 9px solid var(--dark-color-100);
  //}
}

.indicator {
  width: 18px;
  height: 18px;
  border-radius: 2px;
}

.label {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 11px;
  width: max-content;
  color: var(--light-color-100);
}

.disabled {
  cursor: initial;
  //color: var(--dark-color-100);
  border-color: var(--light-color-900);
}

.checked:not(.disabled) {
  //background: var(--color-dark-900);
}

.checked {
  //background: var(--color-light-700);
}

//.label {
//  color: var(--light-color-100);
//  margin-left: 11px;
//}
