@import '@/app/styles/mixins';

.card {
  @include flex(column, center, center);

  max-width: 378px;
  max-height: 480px;
  padding: 24px;
}

.button {
  margin-bottom: 1.5rem;
}

.title {
  margin-bottom: 37px;
  font-size: 1.125rem;
  font-weight: var(--fw-700);
  line-height: 2.25rem;
}

.text {
  margin-top: 7px;
  margin-bottom: 17px;

  font-size: 0.875rem;
  font-weight: var(--fw-400);
  color: var(--light-color-900);
}

.hiddenText {
  margin-top: 6px;
  margin-bottom: 18px;

  font-size: 0.875rem;
  font-weight: var(--fw-400);
  color: var(--light-color-100);
}

.bntLink {
  margin-bottom: 1.5rem;

  font-size: 1rem;
  font-weight: var(--fw-600);
  line-height: 24px;
  text-decoration: none;
}

.captcha {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  input {
    margin-bottom: 0;
  }

  & span {
    position: static;
  }
}
